# Python cache
__pycache__/
*.pyc

# Virtual environment
env/
venv/
.venv/

# Environment variables (VERY IMPORTANT)
.env

# Build / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db